.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}
.textimg {
  width: 120px;
}
.bi{
  margin-right: 10px;
}
.dp{
  height:30px;
  margin-top:5px;
  margin-right:5px;
}
.head{
  height:80px;
}
.image{
  width:350px;
  height:250px;
  margin-top: 5px;
}
.gradiant-border {
  width: 45px;
  height:45px;
  display:flex;
  align-items: center;
  justify-content:center;
  border-radius:50%;
  background:linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}
.story-dp{
  width:40px;
}